= page_header 'Зарегистрируйтесь'

= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
  .fieldset
    .clearfix
      = f.input :email, placeholder: 'me@example.com'
      = f.input :name, label: 'Имя', placeholder: 'Имя'
      = f.input :password, label: 'Пароль'
      = f.input :password_confirmation, label: 'Подтвердите пароль'
    = form_actions f, 'Зарегистрироваться'    
